[submodule "arduino-cmake"]
	path = extern/arduino-cmake
	url = https://github.com/arduino-cmake/arduino-cmake
	branch = develop
[submodule "mqtt_cpp"]
	path = extern/mqtt_cpp
	url = https://github.com/xentec/mqtt_cpp
[submodule "spdlog"]
	path = extern/spdlog
	url = https://github.com/gabime/spdlog
[submodule "argh"]
	path = extern/argh
	url = https://github.com/xentec/argh
